body {
	margin:0;
	padding: 0;
}

ul li {
 	list-style: none;
 	line-height: 35px
 }
 li a:hover {
 	display: block;
 	color: green;
 	width: 100%;
 	background-color: #111
 }
 .wrapper {
 	width: 100%
 }
.sidebar {
	float: left;
	height: 100vh;
	width: 15%;
	background-color: #ced3d6a3;
	padding-top: 30px;
}
.container {
	width: 82%;
	background-color: transparent;
	float: right;
	padding: 20px;
	padding-top: 0px;
}
#logo {
	width: 70px;
	height: 70px;
	margin: 0 auto;
	border-radius: 100%;
	background-color: #0000ff26;
}
.menu {
	text-align: center;
	font-weight: bold;
}
h3 { text-align: center }
.content footer {
	position: fixed;
	vertical-align: bottom !important;
	display: block;
}
.child {
	display: none;
}
.card {
	width:15%;
	float: left;
	margin: 20px;
	border-radius: 5px;
	border: 1px solid #dea
}
.details{
	text-align: center;
}
.clearAll { 
	clear: both;
 }

.card:hover {
	box-shadow: 0px 0px 8px 2px #eee;
	border: 1px solid #ced3d6a3;
	cursor: pointer;
}